*{background-color: rgb(30, 7, 59);}

h1 {
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    font-size: 50px;
    text-shadow:5px 5px rgb(27, 27, 27);

}

h1{
    display: flex;
    background-color: red;
    
}