*{background-color: rgb(30, 7, 59);}

h1 {
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    font-size: 50px;
    text-shadow:5px 5px rgb(27, 27, 27);

}


.container{
    display: flex;
    background-color: black;
}

button{
    display: inline;
    width:600px;
    height: 500px;
    background-color: aqua;
    margin: 10px;
}

.A{
    background-color: rgb(151, 53, 53);
}

.B{
    background-color: rgb(167, 51, 175);
}

.C{
    background-color: rgb(60, 184, 38);
}